@import '~node_modules/modern-normalize/modern-normalize.css';

a {
    cursor: url('/src/images/cursor.png'), pointer;
}


.btn {
    display: inline-block;
    font-family: inherit;
    cursor: url('/src/images/cursor.png'), pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

.icon {
    fill: currentColor;
}

.is-not-overflow {
    overflow: hidden;
}