@import '~node_modules/modern-normalize/modern-normalize.css';
.link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

.icon {
  fill: currentColor;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

<<<<<<< HEAD
.advantages {
  text-align: center;
  padding: 50px 0;
  background-color: #85A279;
}

.advantages__title {
  transform: translate(-999px, 0px);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: center;
  }
  .advantages__list:not(:last-child) {
    margin-right: 60px;
  }
}

.advantages__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    margin-bottom: 0;
  }
  .advantages__item:not(:last-child) {
    padding-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    padding-right: 32px;
  }
}

.advantages__svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__svg {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__svg {
    margin-bottom: 40px;
  }
}

.advantages__number {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.advantages__preTitle {
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  color: #FCFCFC;
  width: 230px;
}
@media screen and (min-width: 768px) {
  .advantages__preTitle {
    width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__preTitle {
    width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
  }
=======
.products {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #131313;
  text-align: center;
  letter-spacing: 0.04em;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/Backgroud_mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/Backgroud_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../images/Background_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/Background_tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/Backgroud_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/Backgroud_desktop@2x.jpg);
  }
}

.products__label {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 80px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 120px;
    font-size: 36px;
  }
}

.products__list {
  padding-top: 108px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .products__list {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    padding-top: 120px;
    width: 704px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    padding-top: 183px;
    width: 1168px;
  }
}

.products__item {
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
  position: relative;
  min-height: 528px;
  width: 100%;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  transition: box-shadow 250ms linear;
  border-radius: 24px;
}
.products__item:hover, .products__item:focus {
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 8px 30px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 480px) {
  .products__item {
    padding-top: 126px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    padding-top: 108px;
    min-height: 428px;
    width: calc((100% - 32px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding: 165px 64px 80px;
    min-height: 536px;
    width: calc((100% - 58px) / 3);
  }
}

.products__item:not(:last-child) {
  margin-bottom: 168px;
}
@media screen and (min-width: 768px) {
  .products__item:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products__item:not(:last-child) {
    margin-right: 29px;
  }
}

.products__item::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -105px;
  width: 200px;
  height: 211px;
  display: block;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .products__item::before {
    top: -120px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    top: -180px;
    width: 302px;
    height: 318px;
  }
}

.products__item:nth-child(1) {
  background-color: #AEC6A5;
}

.products__item:nth-child(2) {
  background-color: #EFD478;
}

.products__item:nth-child(3) {
  background-color: #D6936D;
}

.products__item:nth-child(1)::before {
  background-image: url(../images/dobleice.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  background-color: #D9D9D9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../images/dobleice@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(1)::before {
    background-image: url(../images/dobleice_desktop.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../images/dobleice_desktop@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }
}

.products__item:nth-child(2)::before {
  background-image: url(../images/milkshake.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  background-color: #D9D9D9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/milkshake@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/milkshake_desktop.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/milkshake_desktop@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}

.products__item:nth-child(3)::before {
  background-image: url(../images/creambrule.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  background-color: #D9D9D9;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/creambrule@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/creambrule_desktop.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/creambrule_desktop@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }
}

.products__subtitle {
  margin-bottom: 40px;
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 1.23;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__subtitle {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__subtitle {
    margin-bottom: 66px;
    font-size: 30px;
  }
}

.products__text {
  font-size: 14px;
  line-height: 1.76;
}
@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
  }
}

.products__btn {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__btn {
    bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__btn {
    bottom: 60px;
  }
}
.products__btn:active {
  color: #907E82;
}
.products__btn:hover .products__icon, .products__btn:focus .products__icon {
  scale: 1.5;
}

.products__icon {
  scale: 1;
  transition: scale 250ms linear;
}

.mobile-menu {
  background-color: #85A279;
  width: 100%;
  height: 100o;
  text-align: center;
  padding: 100px 0;
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__logo {
  position: absolute;
  top: 12px;
  left: 32px;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__logo {
    top: 20px;
    left: 20px;
    width: 48px;
    height: 44px;
  }
}

.mobile-menu__close {
  padding: 0;
  background-color: #85A279;
  fill: #FCFCFC;
  display: block;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__close {
    top: 20px;
    right: 20px;
  }
}

.mobile-menu__items:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: #FCFCFC;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover {
  color: #131313;
}
.mobile-menu__link:focus {
  color: #FCFCFC;
}
.mobile-menu__link:default {
  color: #F8D24E;
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
}

.mobile-menu__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  background: #F8D24E;
  border-radius: 10px;
  padding: 12px 35px;
  border-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #131313;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button:hover {
  background-color: #0A8817;
}
.mobile-menu__button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.mobile-menu__button:default {
  background-color: #F8D24E;
}
@media screen and (min-width: 480px) {
  .mobile-menu__button {
    margin-top: 114px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    margin-top: 60px;
  }
}

.mobile-menu__svg {
  fill: currentColor;
  margin-left: 4px;
>>>>>>> main
}/*# sourceMappingURL=index.css.map */