html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif;

    background-color: $background-color;
    color: $text-main-color;
}

textarea {
    resize: none;
}

.container {

        // width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

    @media screen and (max-width: 767px) {
        width: 480px;
    }


    @media screen and (min-width: $tablet) {
        width: 768px;

    }

    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}