html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif;

    color: $text-main-color;
}

textarea {
    resize: none;
}

.container {
<<<<<<< HEAD

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
=======
font-weight: 400;
    font-size: 30px;
    line-height: 37px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
>>>>>>> main
}

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}