html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    margin: 0;

    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    font-family: 'Montserrat', sans-serif;

    color: $text-main-color;
}

textarea {
    resize: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin retina {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-bg;
    opacity: 1;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    z-index: 9999;
    overflow: auto;
}