$text-main-color: #131313;
$text-title-color: #FCFCFC;
$background-color: #84A278;
$background-color-secondary: #84A178;
$link-button-color: #F8D24E;
$box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$icecream-card-color: #AEC6A5;
$icecoffee-card-color: #EFD478;
$milkshakes-card-color: #D6936D;

$hover-button-color: #0A8817;
$mobile-button-color: #85A279;
$modal-button-color: #000000;

$backdrop-bg: rgba(0, 0, 0, 0.2);
$background-modal-color:#FCFCFC;
$figure-color:#9CBE8F;
$modal-shadow:rgba(10, 136, 23, 0.25);
$error-color:#e92705;
$input-color:rgba(248, 210, 78, 0.1);
$input-invalid-color:rgba(248, 104, 78, 0.171);
$modal-gradient:linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
$modal-bg:#D9D9D9;
