$text-main-color: #131313;
$text-title-color: #FCFCFC;
$background-color: #84A178;
$background-menu-color: #AEC6A5;
$link-button-color: #F8D24E;
$addres-color: #D6936D;
$box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);