$text-main-color: #131313;
$text-title-color: #FCFCFC;
$background-color: #817C7C;
$background-color-secondary: #84A178;
$link-button-color: #F8D24E;
$box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
$icecream-card-color: #AEC6A5;
$icecoffee-card-color: #EFD478;
$milkshakes-card-color: #D6936D;

$hover-button-color: #0A8817;
$mobile-button-color: #85A279;