<section class="about" id="about">
  <div class="container">
  <p class="about__label">tradition and love</p>
  <h2 class="about__title">how it’s made?</h2>
  <div class="about__block">
  <div class="about__korovka">
  <picture>
      <source
        srcset="./images/korovka_desctop.png"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/korovka_tablet.png"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/korovka_mobile.png"
        media="(min-width:480px)"
      />
      <img
        srcset="./images/korovka_mobile.png"
        src="./images/korovka_mobile.png"
        alt=""
        class="about__img"
      />
    </picture>
  </div>
  <div class="about__list">
  <div class="about__text">
    <p class="about_p1">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about_p2">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p class="about__p3">
      This is enough to choose ice cream and coffee for any mood!
    </p>
  
</div>
<button type="button" data-modal="modalread"  class="about__button js-open-modal">
    Read more 
    <svg  class="about__svg" width="6" height="10">
      <use href="./images/symbol-defs.svg#icon-vector"></use>
    </svg>
  </button>
  </div>
  </div>
</div>
</section>