<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Advantages</h2>
        <ul class="advantages__list">

            <li class="advantages__item list">
                <span class="advantages__thumb-cow-icon"></span>
                <h3 class="advantages__number">721</h3>
                <p class="advantages__preTitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages__item list">
                <span class="advantages__thumb-weight-icon"></span>
                <h3 class="advantages__number">16KG</h3>
                <p class="advantages__preTitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages__item list">
                <span class="advantages__thumb-ice-icon"></span>
                <h3 class="advantages__number">84</h3>
                <p class="advantages__preTitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>