<section class="contacts">
    <h2 class="contacts_company">Сompany contacts</h2>
    <div class="contacts_list container">
        <ul class="contacts_list-item list">
            <li class="contacts_blocks-item list">
                <p class="contacts_item-type">CAFE</p>

                <address class="contacts_address">
                    <p class="contacts_text">Chicago</p>
                    <a href="#" class="contacts_link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts_blocks-item list">
                <p class="contacts_item-type contacts_item-type-food">FOOD TRUCK</p>

                <address class="contacts_address">
                    <p class="contacts_text">Los Angeles</p>
                    <a href="#" class="contacts_link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts_blocks-item list">
                <p class="contacts_item-type">CAFE</p>

                <address class="contacts_address">
                    <p class="contacts_text">New York</p>
                    <a href="#" class="contacts_link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="contacts-button">
            <button type="button" class="contacts-button_locations button_locations">Our Locations
                <svg class="contacts-button_icon-locations" width="12px" height="12px">
                    <use href="/src/images/symbol-defs.svg#icon-vector"></use>
                </svg>
            </button>

            <button type="button" class="contacts-button_franchise">Franchise
                <svg class="contacts-button_icon-franchise" width="12px" height="12px">
                    <use href="/src/images/symbol-defs.svg#icon-vector"></use>
                </svg>
            </button>
        </div>
    </div>
</section>