<section class="contacts" id="contact">
    <h2 class="contacts_company">Сompany contacts</h2>
    <div class="contacts_list container">
        <ul class="contacts_list-item list">
            <li class="contacts_blocks-item list">
                <p class="contacts_item-type">CAFE</p>

                <address class="contacts_address">
                    <p class="contacts_text">Chicago</p>
                    <a href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/data=!4m2!3m1!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b?sa=X&ved=2ahUKEwi_hKWDvMr8AhUARvEDHfg7BLoQ8gF6BAgWEAI" class="contacts_link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts_blocks-item list">
                <p class="contacts_item-type contacts_item-type-food">FOOD TRUCK</p>

                <address class="contacts_address">
                    <p class="contacts_text">Los Angeles</p>
                    <a href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/data=!4m2!3m1!1s0x80c2b3eca6743829:0x98448969b9b4373d?sa=X&ved=2ahUKEwiF-KDNu8r8AhXbR_EDHU1wBccQ8gF6BAgJEAI" class="contacts_link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts_blocks-item list">
                <p class="contacts_item-type">CAFE</p>

                <address class="contacts_address">
                    <p class="contacts_text">New York</p>
                    <a href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/data=!4m2!3m1!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0?sa=X&ved=2ahUKEwiVm7vfu8r8AhWmSPEDHX_UA2kQ8gF6BAgQEAI" class="contacts_link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>

                <ul class="list work-schedule">
                    <li class="schedule">
                        <p class="schedule_days">Monday - Friday</p>
                        <p class="schedule_time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="schedule_days">Saturday - Sunday</p>
                        <p class="schedule_time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="list work-schedule">
                    <li class="company_contacts">
                        <a href="tel:+61(0)383766284" class="company_tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="company_mail">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="contacts-button">
            <button type="button" class="contacts-button_locations button_locations js-open-modal" data-modal="modallocation">Our Locations
                <svg class="contacts-button_icon-locations" width="12px" height="12px">
                    <use href="/src/images/symbol-defs.svg#icon-vector"></use>
                </svg>
            </button>

            <button type="button" class="contacts-button_franchise js-open-modal" data-modal="modalfranchise">Franchise
                <svg class="contacts-button_icon-franchise" width="12px" height="12px">
                    <use href="/src/images/symbol-defs.svg#icon-vector"></use>
                </svg>
            </button>
        </div>
    </div>
</section>