<!-- Customer Reviews -->
<section class="customer">
  <div class="container customer-reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--emily"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Emily, Los Angeles
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--bryan"></div>
          <p class="customer-reviews__text">
            Every day we come to you with friends after classes in college. We love your ice cream and casual
            atmosphere!
          </p>
          <h3 class="customer-reviews__name">
            Bryan, New-York
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--diana"></div>
          <p class="customer-reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service -
            always served politely and quickly!
          </p>
          <h3 class="customer-reviews__name">
            Diana, Chicago
          </h3>
        </div>
        ...
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>