<!-- Customer Reviews -->
<section class="customer">
  <div class="container customer-reviews">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--vadim"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Vadim, Brovary
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--sofia"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Sofia, Ivano-Frankivsk
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--nikita"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Nikita, Odesa
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--halyna"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Halyna, Lviv
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--ivan"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Ivan, Kyiv
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--sveta"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Sveta, Kryvyi Rih
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--dmitriy"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Dmitriy, Irpin
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--anzhela"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Anzhela, Zhytomyr
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--denis"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Denis, Zvenyhorodka
          </h3>
        </div>
        <div class="swiper-slide">
          <div class="customer-reviews__photo customer-reviews__photo--sanya"></div>
          <p class="customer-reviews__text">
            I love visiting your cafe.
            You prepare the most delicious ice cream in Los Angeles!
            In addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__name">
            Oleksandr, Ivano-Frankivsk
          </h3>
        </div>
        ...
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>