
<footer class="section">
    <div class="container footer">
        <div class="footer__titles">
                <p class="footer__title">homemade ice cream made</p>
                <p class="footer__title footer__title--big-font">with passion</p>
            </div>

            <div class="footer-contacts">        
                <ul class="footer-contacts__soc-links list">
                    <li class="footer-contacts__soc-links-item">
                        <a href="#">
                            <svg class="footer-contacts__soc-links-icon" width="34" height="34">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-contacts__soc-links-item">
                        <a href="#">
                            <svg class="footer-contacts__soc-links-icon" width="34" height="34">
                                <use></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-contacts__soc-links-item">
                        <a href="#">
                            <svg class="footer-contacts__soc-links-icon" width="34" height="34">
                                <use></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                
                <p class="footer-contacts__tel">
                    <span class="footer-contacts__tel-title">Feel free to contact</span> +61 (0) 383 766 284
                </p>
        </div>
    </div>
    <div class="container footer-autors">
        <div class="autors-title">
            <p>© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>