<!-- footer -->
<footer class="section">
    <div class="container footer">

        <div class="footer-cards">
            <ul class="footer-cards__list list">
                <li class="footer-cards__item">
                    <p class="footer-cards__title">cafe</p>
                </li>
                <li class="footer-cards__item">
                    <p class="footer-cards__title">foodtruck</p>
                </li>
                <li class="footer-cards__item">
                    <p class="footer-cards__title">cafe</p>
                </li>
            </ul>
        </div>

        <div class="footer__btns">
            <button type="button" class="footer__btn">Our Locations</button>
            <button type="button" class="footer__btn footer__btn--color" >Franchise</button>
        </div>
        <div class="footer__titles">
            <p class="footer__title">homemade ice cream made</p>
            <p class="footer__title footer__title--big-font">with passion</p>
        </div>
        <div class="footer-contacts">        
            <ul class="footer-contacts__soc-links list">
                <li class="footer-contacts__soc-links-item">
                    <a href="#">
                        <svg width="34" height="34">
                            <use></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-contacts__soc-links-item">
                    <a href="#">
                        <svg width="34" height="34">
                            <use></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-contacts__soc-links-item">
                    <a href="#">
                        <svg width="34" height="34">
                            <use></use>
                        </svg>
                    </a>
                </li>
            </ul>
            
            <p class="footer-contacts__tel">
                <span class="footer-contacts__tel-title">Feel free to contact</span> +61 (0) 383 766 284
            </p>
        </div>
        
    </div>
    <div class="container footer-autors">
        <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>