<section class="gallery">
    
    <div class="container gallery__img sim-slider">
        <h2 class="gallery-title">Gallery</h2>
        <ul class="sim-slider-list">
            
            <li class="sim-slider-element"><img src="/src/images/manyicecream-desktop.jpg" alt="0"></li>
            <li class="sim-slider-element"><img src="/src/images/1icegallery.jpg" alt="1"></li>
            <li class="sim-slider-element"><img src="/src/images/2icegallery.jpg" alt="2"></li>
           
        </ul>
    </div>    
</section>  