<header class="header-section">
  <div class="container header-page">
    <a href="./index.html" class="logo">
      <img src="./images/Logo.png" alt="Logo" />
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="./index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="button-container">
      <button
        type="button"
        class="btn js-open-menu is-open"
        aria-expanded="false"
        aria-controls="js-menu-container"
        data-js-open-menu
      >
        <svg width="40" height="40" aria-label="Перемикач мобільного меню">
          <use
            class="icon-menu"
            href="./images/symbol-defs.svg#icon-menu"
          ></use>
          <use
            class="icon-close"
            href="./images/symbol-defs.svg#icon-close-1"
          ></use>
        </svg>
      </button>

      <button type="button" class="header-page__button btn js-open-modal" data-modal="buy">
        Buy now
        <svg width="12" height="12" class="header-page__icon">
          <use href="./images/symbol-defs.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
