<section class="hero">
  <div class="container">
    <div class="combination">
      <div class="combination__left">
        <h1 class="combination__title">
          ice cream made with <span>passion</span>
        </h1>
        <button type="button" class="button-products">Products</button>
        <button type="button" class="button-about">How it’s made?</button>
      </div>

      <ul class="combination__right">
        <li class="combination__item">
          <span class="combination__number">16</span>
          <p class="combination__text">cafes</p>
        </li>
        <li class="combination__item">
          <span class="combination__number">23</span>
          <p class="combination__text">food trucks</p>
        </li>
      </ul>
    </div>

    <div class="exposition">
      <img src="./images/dots.png" alt="" />
      <div class="exposition__left">
        <img src="./images/bublice.png" alt="" class="exposition__image" />
        <p class="exposition__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <svg width="40" height="16" class="exposition__icon">
          <use href="./images/arrow.svg"></use>
        </svg>
      </div>
      <img src="./images/hero-ice-cream.png" alt="" class="exposition__right" />
    </div>
  </div>
</section>
