<section class="hero">
  <div class="container hero-page">
    <div class="combination">
      <div class="caption">
        <h1 class="caption__title">ice cream made with <span>passion</span></h1>

        <a href="#products" class="button-products link">Products</a>
        <a href="#about" class="button-about"> How it’s made? </a>
      </div>

      <ul class="quantity list">
        <li class="quantity__item">
          <span class="quantity__number">16</span>
          <p class="quantity__text">cafes</p>
        </li>
        <li class="quantity__item">
          <span class="quantity__number">23</span>
          <p class="quantity__text">food trucks</p>
        </li>
      </ul>
    </div>

    <picture class="depiction__background">
      <source
        srcset="./images/dots_desktop.png 1x, ./images/dots_desktop@2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/dots_tablet.png 1x, ./images/dots_tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/dots_480.png 1x, ./images/dots_480@2x.png 2x"
        media="(min-width:480px)"
      />
      <img
        srcset="./images/dots_mobile.png 1x, ./images/dots_mobile@2x.png 2x"
        src="./images/dots_mobile.png"
        alt=""
        class="depiction__img"
      />
    </picture>

    <picture class="depiction-right">
      <source
        srcset="./images/icecream_desktop.png 1x, ./images/icecream_desktop@2x.png 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/icecream_tablet.png 1x, ./images/icecream_tablet@2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/icecream_480.png 1x, ./images/icecream_480@2x.png 2x"
        media="(min-width:480px)"
      />
      <img
        srcset="./images/icecream_mobile.png 1x, ./images/icecream_mobile@2x.png 2x"
        src="./images/icecream_mobile.png"
        alt=""
      />
    </picture>

    <div class="depiction-left">
      <picture>
        <source
          srcset="./images/bublice_desktop.png 1x, ./images/bublice_desktop@2x.png 2x"
          media="(min-width:1200px)"
        />
        <source
          srcset="./images/bublice_tablet.png 1x, ./images/bublice_tablet@2x.png 2x"
          media="(min-width:768px)"
        />
        <img
          srcset="./images/bublice_tablet.png 1x, ./images/bublice_tablet@2x.png 2x"
          src="./images/bublice_tablet.png"
          alt=""
          class="depiction-left__image"
        />
      </picture>
      <div class="depiction-left__description">
        <p class="depiction-left__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          type="button"
          class="depiction-left__btn btn"
        >
          <svg class="depiction-left__icon" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-rrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
