<section class="js-menu-container" id="js-menu-container">
    <div class="container">
    <div class="mobile-menu__header">
        <div class="mobile-menu__logo"><a href="#"><img src="./images/Logo.png" alt="Logo"></a></div>
        <button class="js-close-menu"><svg width="19" height="19"><use href="./images/symbol-defs.svg#icon-close-1"></use></svg></button>
    </div>
    <nav class="mobile-menu__nav ">
        <ul>
            <li class="mobile-menu__items list"><a href="#home" class="mobile-menu__link link">Home</a></li>
            <li class="mobile-menu__items list"><a href="#about" class="mobile-menu__link link">How it’s made?</a></li>
            <li class="mobile-menu__items list"><a href="#products" class="mobile-menu__link link">Our products</a></li>
            <li class="mobile-menu__items list"><a href="#contact" class="mobile-menu__link link">Contact</a></li>
        </ul>
    </nav>
    <button type="button" class="mobile-menu__button js-open-modal" data-modal="buy">Buy now <svg width="12" height="12" class="mobile-menu__svg"><use href="./images/symbol-defs.svg#icon-vector"></use></svg></button>
</div>
</section>