<section class="mobile-menu">
    <div class="container"></div>
    <div class="mobile-menu__svg">
        <span class="mobile-menu__logo"><a href=""><svg width="32" height="32"><use href=""></use></svg></a></span>
        <button class=""><svg width="48" height="44"><use href=""></use></svg></button>
    </div>
    <nav class="mobile-menu__nav ">
        <li class="mobile-menu__items list"><a href="mobile-menu__link">Home</a></li>
        <li class="mobile-menu__items list"><a href="mobile-menu__link">How it’s made?</a></li>
        <li class="mobile-menu__items list"><a href="mobile-menu__link">Our products</a></li>
        <li class="mobile-menu__items list"><a href="mobile-menu__link">Contact</a></li>
    </nav>
    <button class="mobile-menu__button" type="button">Buy now</button>
</div>
</section>