  <div class="modal-read is-hidden modal" data-modal="modalread">
    <button type="button" class="modal-read__close js-modal-close">
      <svg class="" width="13" height="13">
        <use href="./images/symbol-defs.svg#icon-close-1"></use>
      </svg>
    </button>
    <h2 class="modal-read__title">How it’s made?</h2>
    <div class="modal-read__block">
      <iframe
        class="modal-read__video"
        width="224"
        height="199"
        src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player"
        
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>

      <p class="modal-read__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor 
      </p>
    </div>
  </div>
