<div class="fanchise__modal is-hidden modal" data-modal="modalfranchise">
    <button type="button" class="fanchise__close-btn btn js-modal-close" >
        <svg class="fanchise__close-icon icon" width="11.11" height="11.14">
            <use href="./images/symbol-defs.svg#icon-close-1"></use>
        </svg>
    </button>
    <p class="fanchise__modal-title">Thank you for your interest in owning an Ice Cream shop</p>
    <span class="fanchise__modal-text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
    the application process resumes, we will contact you for further information. Please fill out the contact information
    below and we will reach out for additional information. We appreciate your patience.</span>
    <form action="#" class="fanchise__modal-form">
        <div class="modal__label">
            <label class="" for="user-name"></label>
                <input 
                type="text" 
                name="user-name" 
                class="form__user modal__input-fanchise" 
                required id="user-name" 
                placeholder="Name"/>
        </div>
        <div class="modal__label">
            <label class="" for="user-tel"></label>
                <input 
                type="tel" 
                name="user-tel" 
                class="form__user modal__input-fanchise" 
                required id="user-tel"
                placeholder="Phone"/>
        </div>
        <div class="modal__label">
            <label class="" for="user-mail"></label>
                <input 
                type="email" 
                name="user-mail" 
                class="form__user modal__input-fanchise" 
                required id="user-mail"
                placeholder="Email"/>
        </div>
        <div class="modal__feedback-fanchise">
            <label class="" for="feedback"></label>
            <textarea name="feedback" id="feedback" cols="10" rows="10" class="feedback-fanchise"
                placeholder="Comment">
                </textarea>
        </div>
        <button type="submit" class="submit__btn btn">Submit</button>
    </form>
</div>
