
<div class="modal-location is-hidden modal" data-modal="modallocation">
    <button type="button" class="modal-location__close btn js-modal-close">
        <svg width="24" height="24" class="modal-location__icon">
            <use href="./images/symbol-defs.svg#clarity_close-line"></use>
        </svg>
    </button>
    <form class="location-form">
        <p class="location-form__title">Our Locations</p> 
        
        <picture>
            <source media="(min-width: 768px)"
                        srcset=".//../images/position_tablet.jpg 1x, .//../images/position_tablet@2x.jpg 2x">
            <source media="(max-width: 767px)"
                        srcset=".//../images/position.jpg 1x, .//../images/position@2x.jpg 2x">
                        <img src=".//../images/position.jpg" alt="map" class="modal-form__location-image">
        </picture>
           
        <div class="location-form__link btn">
                <a class="location-form__button link" href="https://www.google.com/maps/place/%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5945325,34.5200581,13.5z/data=!4m5!3m4!1s0x40d825e425e6ba6b:0xcf3e6bdfb9e4ca82!8m2!3d49.588267!4d34.5514169">
            Open map
                </a>
            </div>
    </form>
</div>
