<div class="modal modal-ingredients is-hidden" data-modal="ingr">
    <button class="modal-ingredients__close btn js-modal-close">
        <svg class="modal-ingredients__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-close-1"></use>
        </svg>
    </button>
    <p class="modal-ingredients__title">Chololate icecream</p>
    <div class="modal-ingredients__thumb">
        <img srcset="./images/chocolateice_modal.png 1x, ./images/chocolateice_modal@2x.png 2x"
            src="./images/chocolateice_modal.png" alt="Chololate icecream" class="modal-ingredients__image">
    </div>

    <ul class="ingredients-figure list">
        <li class="ingredients-figure__oval">
            <p class="ingredients-figure__circle">320</p>
            <p class="ingredients-figure__text">kcal</p>
        </li>
        <li class="ingredients-figure__oval">
            <p class="ingredients-figure__circle">4g</p>
            <p class="ingredients-figure__text">Prote...</p>
        </li>
        <li class="ingredients-figure__oval">
            <p class="ingredients-figure__circle">8,2g</p>
            <p class="ingredients-figure__text">Fats</p>
        </li>
        <li class="ingredients-figure__oval">
            <p class="ingredients-figure__circle">40,4g</p>
            <p class="ingredients-figure__text">Carbs</p>
        </li>
    </ul>
    <p class="modal-ingredients__subtitle">Ingredients</p>

    <ul class="ingredients-list list">
        <li class="ingredients-list__item">
            <p class="ingredients-list__elem">Milk</p>
            <p class="ingredients-list__elem">100ml</p>
        </li>
        <li class="ingredients-list__item">
            <p class="ingredients-list__elem">Belgian chocolate</p>
            <p class="ingredients-list__elem">20g</p>
        </li>
        <li class="ingredients-list__item">
            <p class="ingredients-list__elem">Cream</p>
            <p class="ingredients-list__elem">150 ml</p>
        </li>
        <li class="ingredients-list__item">
            <p class="ingredients-list__elem">Cocoa powder</p>
            <p class="ingredients-list__elem">30g</p>
        </li>
        <li class="ingredients-list__item">
            <p class="ingredients-list__elegitm">Sugar</p>
            <p class="ingredients-list__elem">40g</p>
        </li>
        <li class="ingredients-list__item">
            <p class="ingredients-list__elem">Vanilla sugar</p>
            <p class="ingredients-list__elem">10g</p>
        </li>


    </ul>

    <form class="ingredients-form">
        <input type="text" class="ingredients-form__input" id="name" name="name" pattern="[^\d]+" placeholder="Name" required minlength="2" >
        <input type="tel" class="ingredients-form__input" id="tel" name="tel" pattern="[-+\d]+" placeholder="Phone" required >
        <textarea class="ingredients-form__comment" name="comment" id="comment" placeholder="Comment"></textarea>
        <button type="submit" class="ingredients-form__submit btn">Submit</button>
    </form>

</div>
