<section class="products" id="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="products__item">
                <h3 class="products__subtitle">ice cream</h3>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer
                </p>
                <button type="button" class="products__btn btn js-open-modal" data-modal="ingr">
                    <svg class="products__icon icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#icon-rrow"></use>
                        </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__subtitle">ice coffee</h3>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the
                    use of preservatives and flavor enhancers</p>
                <button type="button" class="products__btn btn js-open-modal" data-modal="ingr">
                    <svg class="products__icon icon" width="40" height="16">
                        <use href="./images/symbol-defs.svg#icon-rrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__subtitle">milkshakes</h3>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                    berries and other sweets of your choice</p>
                <button type="button" class="products__btn btn js-open-modal" data-modal="ingr">
                    <svg class="products__icon icon" width="40" height="16">
                        <use href="./images/symbol-defs.svg#icon-rrow"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>

</section>