.about {
  padding-top: 60px;
<<<<<<< Updated upstream
  padding-bottom: 60px;
=======
  padding-bottom: 0;
>>>>>>> Stashed changes
  color: $text-title-color;
  background-color: $background-color-secondary;
  align-items: center;
  margin: 0 auto;


  @include mobile {
<<<<<<< Updated upstream
      width: 360px;
    }
  
    @include tablet {
      width: 768px;
    }
  
    @include desktop {
      width: 1200px;
    }
=======
    width: 360px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
>>>>>>> Stashed changes
}

.about__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-right: auto;
  margin-left: auto;


  @media screen and (min-width:768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width:1200px) {
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 32px;


  @media screen and (max-width: 480px) {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width:768px) {
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.06em;
    padding-bottom: 72px;
  }

  @media screen and (min-width:1200px) {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 82px;
  }
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
.about__block {
  @media screen and (min-width:768px) {
    display: flex;
  }
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
.about__korovka {
  margin-top: 22px;
  justify-content: center;
  margin-bottom: 40px;
<<<<<<< Updated upstream
width: 278px;
height: 279px;
margin-left: auto ;
margin-right: auto;

@media screen and (min-width:768px) {
  justify-content: left;
  margin-left: 32px;
  margin-top: 0px;
  margin-right: 0;
}
@media screen and (min-width:1200px) {
  width: 490px;
  height: 490px;
    margin-bottom: 0;
}
 }
=======
  width: 278px;
  height: 279px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:768px) {
    justify-content: left;
    margin-left: 32px;
    margin-top: 0px;
    margin-right: 0;
  }

  @media screen and (min-width:1200px) {
    width: 490px;
    height: 490px;
    margin-bottom: 0;
  }
}
>>>>>>> Stashed changes


.about__list {
  @media screen and (min-width:768px) {
    margin-left: 38px;
<<<<<<< Updated upstream
  
=======

>>>>>>> Stashed changes
  }

  @media screen and (min-width:1200px) {
    margin-left: 109px;
  }
}

.about__text {
  width: 220px;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;

  @media screen and (min-width:480px) {
    padding-bottom: 24px;
<<<<<<< Updated upstream
    
=======

>>>>>>> Stashed changes
  }

  @media screen and (min-width:768px) {
    padding-bottom: 32px;
    margin-left: 0;
    width: 334px;
  }

  @media screen and (min-width:1200px) {
    padding-bottom: 54px;
    width: 463px;
    align-items: center;
  }
}

.about_p1 {
  text-align: center;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 0.04em;

  @media screen and (min-width:768px) {
    text-align: left;

  }

  @media screen and (min-width:1200px) {
    font-size: 16px;
    margin-top: 51px;
<<<<<<< Updated upstream
  
=======

>>>>>>> Stashed changes
  }
}

.about_p2 {
  font-size: 12px;
  line-height: 162%;
  text-align: center;

  //767
  @media screen and (min-width:768px) {
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: left;
  }

  @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: 194%;
  }
}

.about__p3 {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width:768px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 194%;
    letter-spacing: 0.04em;
    text-align: left;
  }

  @media screen and (min-width:1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
  }
}

.about__button {
  width: 164px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: block;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: $link-button-color;
  color: #000000;

  @media screen and (min-width:768px) {
    margin-left: 0;
  }
<<<<<<< Updated upstream
 @media screen and (min-width:1200px) {
  &:hover {
    background-color: $hover-button-color;
    color: #000000;
  }

  &:focus {
    color: $text-title-color;
  }
}
=======

  @media screen and (min-width:1200px) {
    &:hover {
      background-color: $hover-button-color;
      color: #000000;
    }

    &:focus {
      color: $text-title-color;
    }
  }
>>>>>>> Stashed changes

  // &:disabled {
  //   background-color: #ABABAB;
  //   color: #000000
  // }
}