.contacts {
    @media screen and (max-width: 767.95px) {
        padding-top: 40px;
        // position: absolute;
        // left: 0;
        // top: 2770px;
    }

    @media screen and (min-width: $tablet) and (max-width:1199.95px) {
        padding-top: 80px;
        // position: absolute;
        // left: 0;
        // top: 1395px;
    }

    // padding-top: 100px;
    // position: absolute;
    // left: 0;
    // top: 1520px;


    &_company {
        visibility: hidden;
        position: absolute;
    }

    &_list-item {
        @media screen and (max-width: 767.95px) {
            display: block;
            margin-bottom: 24px;
            // transform: translateY(-375px);
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            gap: 16px;
            margin-bottom: 40px;
            // transform: translateY(-300px);
        }

        display: flex;
        justify-content: center;
        gap: 32px;
        // transform: translateY(-120px);
        margin-bottom: 60px;
        // position: relative;
    }

    &_blocks-item {
        @media screen and (max-width: 767.95px) {
            width: 280px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 24px;
            padding-left: 32px;
        }

        &:not(:last-child) {
            @media screen and (max-width: 767.95px) {
                margin-bottom: 20px;
            }
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            width: 224px;
            padding-left: 24px;
            padding-bottom: 40px;
        }

        width: 368px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }



    &_item-type {
        @media screen and (max-width: 767.95px) {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 1.2;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        margin-bottom: 32px;

        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;

        border-radius: 6px;
        background-color: $link-button-color;
        color: $text-main-color;
        height: 30px;
        width: 76px;

        &-food {
            width: 148px;
        }
    }

    &_text {
        @media screen and (max-width: 767.95px) {
            font-size: 12px;
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            font-size: 14px;
            margin-bottom: 12px;
        }

        font-weight: 500;
        font-size: 16px;
        line-height: 1.66;
        color: $text-main-color;
        margin-bottom: 8px;
    }

    &_address {
        @media screen and (max-width: 767.95px) {
            width: 195px;
            padding-bottom: 24px;
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            width: 173px;
        }

        width: 288px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(225, 225, 225, 1);
    }

    &_link {
        @media screen and (max-width: 767.95px) {
            font-size: 12px;
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            font-size: 14px;
        }

        font-weight: 500;
        font-size: 16px;
        line-height: 1.64;
        text-decoration: none;


        color: $milkshakes-card-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.work-schedule {
    @media screen and (max-width: 767.95px) {
        padding-top: 24px;
    }

    padding-top: 32px;
}

.schedule {
    margin-bottom: 12px;
    font-weight: 500;
    color: $text-main-color;

    @media screen and (max-width: 1199.95px) {
        margin-bottom: 8px;
    }

    &_days {
        font-size: 16px;
        line-height: 1.82;

        @media screen and (max-width: 767.95px) {
            font-size: 12px;
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            font-size: 14px;
        }
    }

    &_time {
        font-size: 16px;
        line-height: 1.86;

        color: #ABABAB;

        @media screen and (max-width: 767.95px) {
            font-size: 12px;
        }

        @media screen and (min-width: $tablet) and (max-width:1199.95px) {
            font-size: 14px;
        }
    }
}

.company_contacts {
    border-top: 1px solid #E1E1E1;
    width: 288px;

    padding-top: 32px;

    @media screen and (max-width: 767.95px) {
        width: 195px;
    }

    @media screen and (min-width: $tablet) and (max-width:1199.95px) {
        width: 170px;
    }
}

.company_tel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $text-main-color;

    text-decoration: none;

    @media screen and (max-width: 767.95px) {
        font-size: 12px;
        line-height: 1.58;
    }

    @media screen and (min-width: $tablet) and (max-width:1199.95px) {
        font-size: 14px;
        line-height: 1.5;
    }
}

.company_mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $text-main-color;

    text-decoration: none;

    @media screen and (max-width: 767.95px) {
        font-size: 12px;
        line-height: 1.58;
    }

    @media screen and (min-width: $tablet) and (max-width:1199.95px) {
        font-size: 14px;
        line-height: 1.5;
    }
}

.contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;

    // margin-top: -120px;

    @media screen and (max-width: 767.95px) {
        flex-direction: column;
        text-align: center;
        // margin-top: -375px;
    }

    @media screen and (min-width: $tablet) and (max-width:1199.95px) {
        // margin-top: -300px;
    }

    &_locations {
        width: 196px;
        height: 42px;
        border: 0;
        border-radius: 10px;
        background-color: $link-button-color;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
    }


    &_icon-locations {
        fill: currentColor;
    }
}

.contacts-button_locations:hover {
    background-color: #0A8817;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button_locations:focus {
    background-color: $hover-button-color;
    color: #FFFFFF;
    outline: none;
}

.contacts-button_icon-locations:focus {
    fill: #FFFFFF;
}

.button_locations {
    margin-right: 16px;

    @media screen and (max-width: 767.95px) {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.contacts-button_franchise {
    width: 196px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid $link-button-color;
    background-color: $background-color-secondary;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;

    .contacts-button_icon-franchise {
        fill: currentColor;
    }
}

.contacts-button_franchise:hover {
    border-color: $hover-button-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-button_franchise:focus {
    border: 2px solid #0A8817;
    outline: none;
    color: #FFFFFF;
}

.contacts-button_icon-franchise:focus {
    fill: #FFFFFF;
}