.contacts {
    padding-top: 100px;
    position: relative;

    &_company {
        visibility: hidden;
        position: absolute;
    }

    &_list {
        background-color: #84A178;
    }

    &_list-item {
        display: flex;
        justify-content: center;
        gap: 32px;

        transform: translateY(-70px);

        margin-bottom: 60px;
    }

    &_blocks-item {
        width: 368px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }

    &_item-type {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        margin-bottom: 32px;

        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;

        border-radius: 6px;
        background-color: $link-button-color;
        color: $text-main-color;
        height: 30px;
        width: 76px;

        &-food {
            width: 148px;
        }
    }

    &_text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.66;

        color: $text-main-color;

        margin-bottom: 8px;
    }

    &_address {
        width: 288px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(225, 225, 225, 1);
        font-size: 16px;
        margin-bottom: 32px;
    }

    &_link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.64;
        text-decoration: none;


        color: $milkshakes-card-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.schedule {
    margin-bottom: 12px;

    &_days {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.82;

        color: $text-main-color;
    }

    &_time {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;

        color: #ABABAB;
        padding-bottom: 32px;
    }
}

.company_contacts {
    border-top: 1px solid rgba(171, 171, 171, 1);
    width: 288px;

    padding-top: 32px;


}

.company_tel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $text-main-color;

    text-decoration: none;
}

.company_mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $text-main-color;

    text-decoration: none;
}

.contacts-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -70px;

    &_locations {
        width: 196px;
        height: 42px;
        cursor: pointer;
        border: 0;
        border-radius: 10px;
        background-color: $link-button-color;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
    }


    &_icon-locations {
        fill: currentColor;
    }
}

.contacts-button_locations:hover {
    background-color: #0A8817;
}

.contacts-button_locations:focus {
    background-color: $hover-button-color;
    color: #FFFFFF;
    outline: none;
}

.contacts-button_icon-locations:focus {
    fill: #FFFFFF;
}

.button_locations {
    margin-right: 16px;
}

.contacts-button_franchise {
    width: 196px;
    height: 42px;
    cursor: pointer;
    border-radius: 10px;
    border-color: $link-button-color;
    background-color: $background-color-secondary;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;

    &_icon-franchise {
        fill: currentColor;
    }
}

.contacts-button_franchise:hover {
    border-color: $hover-button-color;
}

.contacts-button_franchise:focus {
    // background-color: #0A8817;
    color: #FFFFFF;
}