
.customer-reviews {

    padding: 180px 0 450px 0;
    margin: 0 auto;
    text-align: center;
    background-color: $background-color-secondary;
    background-image: url(../images/Backgroud_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
        padding: 230px 0 290px;
    }

    @media screen and (max-width: 767px) {
        // max-width: $mobile;
        @include retina {
            & {
                background-image: url(../images/Backgroud_mobile@2x.jpg);
            }
        }
    }
    @include tablet {
        padding: 250px 0 270px;
        // width: $tablet;
        background-image: url(../images/Background_tablet.jpg);

        @include retina {
            & {
                background-image: url(../images/Background_tablet@2x.jpg);
            }
        }
    }
    @include desktop {
        padding: 450px 0 110px;
        // width: $desktop;
        background-image: url(../images/Backgroud_desktop.jpg);

        @include retina {
            & {
                background-image: url(../images/Backgroud_desktop@2x.jpg);
            }
        }
    }
}

.customer-reviews__photo {
    width: 150px;
    height: 150px;
    margin: 0 auto 32px auto;
    border-radius: 50%;
    background-color: $background-color-secondary;
    background-size: cover;
}

.customer-reviews__photo--vadim {
    background-image: url(../images/vadim.jpg);
    background-size: contain;
    background-position: center;
}

.customer-reviews__photo--sofia {
    background-image: url(../images/sofia.jpg);
}

.customer-reviews__photo--nikita {
    background-image: url(../images/nikita.jpg);
}

.customer-reviews__photo--halyna {
    background-image: url(../images/halyna.jpg);
}

.customer-reviews__photo--ivan {
    background-image: url(../images/ivan.jpg);
}

.customer-reviews__photo--sveta {
    background-image: url(../images/sveta.jpg);
}

.customer-reviews__photo--dmitriy {
    background-image: url(../images/dmitriy.jpg);
}

.customer-reviews__photo--anzhela {
    background-image: url(../images/anzhela.jpg);
}

.customer-reviews__photo--denis {
    background-image: url(../images/denis.jpg);
}

.customer-reviews__photo--sanya {
    background-image: url(../images/sanya.jpg);
}

.customer-reviews__text {
    display: block;
    box-sizing: border-box;
    width: 280px;
    margin: 0 auto 32px auto;
    padding: 35px 39px;

    border-radius: 10px;

    color: $text-title-color;
    background-color: $background-color-secondary;

    font-size: 12px;
    line-height: 2.55;


    @include tablet {
        width: 705px;
        padding: 28px 80px;
        border-radius: 24px;
        font-size: 14px;
        line-height: 1.86;
        font-weight: 500;
    }

    @include desktop {
        width: 968px;
        font-size: 16px;
        padding: 43px 109px;
    }
}

.customer-reviews__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;

    @include tablet {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
    }

    @include desktop {
        font-weight: 500;
    }
}

.swiper-pagination {
    position: static;
    margin-bottom: 25px;

    @include mobile {
        margin-bottom: 35px;
    }

    @include tablet {
        margin-bottom: 60px;
    }

    @include desktop {
        margin-bottom: 50px;
    }
} 

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: $background-color-secondary;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    
    &:not(:last-child) {
        margin-right: 12px;
    }
}