.section {
    background-color: $background-color-secondary;
}

.footer {
    height: 1487px;
    background-color: $background-color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
        margin-left: auto;


    @media screen and (max-width: 767px) {
        height: 1620px;
    }

    @include mobile {
       
    }

    @include tablet {
        height: 625px;
      
        flex-direction: row;
        align-items: flex-end;
    }

    @include desktop {
        width: 1200px;
        height: 862px;
        padding-bottom: 60px;
    }
}

.footer__titles {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: $text-title-color;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
        gap: 8px;
        padding-bottom: 32px;
        margin: 0;
    }

    @include desktop {
        font-weight: 400;
        font-size: 30px;
        gap: 14px;
        padding-bottom: 0;
    }
}

.footer__title {
    width: 240px;

    @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 510px;
    }
}

.footer__title--big-font {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;

    @include tablet {
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    @include desktop {
        font-size: 58px;
        letter-spacing: 0.06em;
    }
}

.footer-contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;

    @include tablet {
        margin-bottom: 60px;
    }

    @include desktop {
        margin-bottom: 0px;
    }
}

.footer-contacts__soc-links {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 20px;

    @include tablet {
        gap: 30px;
        margin-bottom: 34px;
    }

    @include desktop {
        margin-bottom: 40;
    }
}

.footer-contacts__soc-links-item {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $link-button-color;
    }

    .footer-contacts__soc-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        fill: $background-color-secondary;
        transition: fill 250ms linear;

        &:hover,
        &:focus {
            fill: #ffffff;
        }
        
    }

.footer-contacts__tel,
.footer-contacts__tel-link {
    color: $text-title-color;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;

    @include tablet {
        font-size: 14px;
    }
    
    @include desktop {
        font-size: 16px;
            letter-spacing: 0.02em;
    }
}

.footer-contacts__tel-title {
    color: $text-main-color;
    
}


.footer-autors {
    position: relative;
    display: flex;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
    background-color: $background-color-secondary;
    justify-content: center;
    
    @include mobile {
        // width: 480px;
    }

    @include tablet {
        // width: 768px;
        padding: 12px;
    }

    @include desktop {
        // width: 1200px;
        
    }
}

.footer-autors::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E1E1E1;

    @include desktop {
        // width: 1167px;
    }
}

.autors-title {
    width: 160px;

    @include desktop {
        width: 400px;
    }
}

