.gallery {
    display: flex;
    justify-content: center;
}
.gallery__img {
    position: absolute;
    margin-top: -32px;
    width: 280px;
    height: 130px;
    background-size: cover;
    background-image: url(/src/images/manyicecream.jpg);
    background-repeat: no-repeat;
    

    border-radius: 8px; 

    @include mobile {
        width: 440px;
        height: 204px;
        margin-top: -27px;
    }

    @include tablet {
        width: 704px;
        height: 327px;
        margin-top: -144px;
        border-radius: 18px;
        background-image: url(/src/images/manyicecream_tablet.jpg);
    }

    @include desktop {
        width: 1013px;
        height: 422px;
        margin-top: -98px;
        border-radius: 24px;
        background-image: url(/src/images/manyicecream-desktop.jpg);
        
    }

    @include retina {
        background-image: url(/src/images/manyicecream-desktop.jpg);
    }

    animation-name: changeBg;
    animation-duration: 10000ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
} 

@keyframes changeBg {
    50% {
        background-image: url(/src/images/manyicescream_3@2x.jpg);
    }
    
    100% {
        background-image: url(/src/images/manyicescream_4@2x.jpg);
    }
}