.gallery {
    display: flex;
    justify-content: center;

    border-radius: 38px;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: fill;
}

.gallery__img {
    position: absolute;
    margin-top: -32px;
    width: 280px;
    height: 130px;
    background-size: contain;
    background-image: url(/src/images/manyicecream.jpg);
    background-repeat: no-repeat;
    contain: contain;

    border-radius: 8px;

    @include mobile {
        width: 440px;
        height: 204px;
        margin-top: -27px;
        border-radius: 8px;
    }

    @include tablet {
        width: 704px;
        height: 327px;
        margin-top: -144px;
        border-radius: 18px;

    }

    @include desktop {
        width: 1013px;
        height: 422px;
        margin-top: -98px;
        border-radius: 24px;
        background-image: url(/src/images/manyicecream-desktop.jpg);

    }

    animation-name: changeBg;
    animation-duration: 5000ms;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;


    @keyframes changeBg {
        33% {
            background-image: url(/src/images/1icegallery.jpg);
        }

        66% {
            background-image: url(/src/images/2icegallery.jpg);
        }
    }
}