.gallery {
    display: flex;
    justify-content: center;
    
    border-radius: 38px;
}

.gallery-title {
    visibility: hidden;
        position: absolute;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: fill;
}

.sim-slider {
        position: absolute;
        margin-top: -32px;
        padding: 0;
        // width: 280px;
        // height: 130px;
        border-radius: 8px;
        background-repeat: no-repeat;
        background-size: contain;
       
    @include mobile {
            width: 440px;
            height: 204px;
            margin-top: -27px;
            border-radius: 8px;
        }
    
        @include tablet {
            width: 704px;
            height: 327px;
            margin-top: -144px;
            border-radius: 18px;
            
        }
    
        @include desktop {
            width: 1013px;
            height: 422px;
            margin-top: -98px;
            border-radius: 24px;
            background-image: url(/src/images/manyicecream-desktop.jpg);
    
        }
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}


.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}
