.hero {
  background-color: #84a178;
  padding-top: 50px;

  @media screen and (min-width: 480px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 14px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 45px;
  }
}
.combination {
  display: flex;
  justify-content: space-between;
}
.caption__title {
  max-width: 247px;
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;
  color: $text-title-color;

  & span {
    font-size: 34px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 38px;
    max-width: 367px;
    margin-bottom: 28px;
    & span {
      font-size: 38px;
    }
  }
}
.button-products {
  padding: 11px 26px;
  margin-right: 12px;
  border-radius: 10px;
  border: 2px solid $link-button-color;
  background-color: transparent;
  color: $text-main-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 1200px) {
    padding: 12px 34px;
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover,
  &:focus {
    border: 2px solid #0a8817;
  }
  &:focus {
    color: $text-title-color;
  }
}

.button-about {
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: $link-button-color;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 1200px) {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.21;
  }
  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: $text-title-color;
  }
  &:disabled {
    color: #ababab;
  }
}

.quantity {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    list-style: none;
  }
}
.quantity__number {
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}
.quantity__text {
  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: $text-title-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
.quantity__item:first-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.depiction {
  position: relative;
  padding-top: 186px;
  @media screen and (min-width: 480px) {
    padding-top: 105px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 114px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 0;
  }
}
.depiction__img {
  width: auto;
}
.depiction__background {
  @media screen and (min-width: 480px) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media screen and (min-width: 768px) {
    position: relative;
  }
}
.depiction-left {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    left: 32px;
    bottom: 12px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    left: 1px;
    bottom: 63px;
  }
}

.depiction-left__image {
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.depiction-left__text {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
    max-width: 139px;

    font-weight: 400;
    font-size: 11px;
    line-height: 1.42;
    color: $text-title-color;
  }
  @media screen and (min-width: 1200px) {
    max-width: 200px;
    margin-left: 16px;
    font-size: 13px;
  }
}
// .depiction-left__icon {
//   margin-top: 24px;
// }
.depiction-right {
  position: absolute;
  right: 76px;
  bottom: 0px;
  width: auto;
  @media screen and (max-width: 767px) {
    right: 20px;
  }
}
