.mobile-menu {
    background-color: #85A279;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 100px 0;
    @include mobile {
        width: 450px;
        height: auto;
    }
    @include tablet {
        width: 768px;
        height: auto;
    }
}

.mobile-menu__logo {
    position: absolute;
    top: 12px;
    left: 32px;
}

.mobile-menu__close {
    padding: 0;
    background-color: #85A279;
    fill: $text-title-color;
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
    
}


.mobile-menu__items:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    color: $text-title-color;
    text-decoration: none;
    &:hover {
        color: $text-main-color;
    }
    &:focus {
        color: #FCFCFC;
    }
    &:disabled {
        color: #ABABAB;
    }
    &:default {
        color: #F8D24E;
    }
    
}


.mobile-menu__button {
    display: inline-flex;
    align-items: center;
    margin-top: 110px;
    background: #F8D24E;
    border-radius: 10px;
    padding: 12px 51px 12px 36px;
    border-style: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    &:hover {
        background-color: #0A8817;
    }
    &:focus {
        background-color: #0A8817;
        color: $text-title-color;
    }
    &:disabled {
        background-color: #ABABAB;
    }
    &:default {
        background-color: #F8D24E;
    }
    
   
}
.mobile-menu__svg {
    fill: currentColor;
    margin-left: 4px;
}
