
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.fanchise__modal {
    position: absolute;
    /* width: 280px; */
    /* height: 674px; */
    left: 0px;
    top: 0px;
    background: $text-title-color;
    border: 2px solid $link-button-color;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    overflow: auto;
    width: 100%;
    max-height: 674px;
    padding: 28px 30px 28px 28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scaleX(1.5);
    }
    
    @include mobile{
        width: 280px;
        max-height: 674px;
    }

    @include tablet {
        width: 568px;
        max-height: 668px;
    }
}


.fanchise__close-btn {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text-title-color;
    border: 1px solid rgba(0,0,0,.1);
    background: #FCFCFC;
    /* border-radius: 50%; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 4.44px 4.48px;
    background-color: transparent;
    border: none;
    &:hover,
    &:focus {
        fill: $hover-button-color;
}
}

.fanchise__modal-title{
    letter-spacing: .03em;
        text-align: center;
        color: $text-main-color;
        flex-wrap: wrap;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 20px;

    @include desktop{
            font-weight: 700;
            font-size: 20px;
            line-height: calc(28/20);
            // display: flex;
            // align-items: center;
            // text-align: center;
            color: $text-main-color;
            margin-bottom: 24px;
            flex-wrap: wrap;
    }
}

.fanchise__modal-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

        @include desktop{
            font-size: 16px;
            align-items: center;
            text-align: center;
        }
}

.fanchise__modal-form{
    margin-top: 20px;
}


.modal__label {
    margin-bottom: 12px;
        display: flex;
        flex-direction: column;
    
        &:nth-of-type(4n) {
            margin-bottom: 12px;
        }
}

.modal__input-fanchise {
    background: rgba(248, 210, 78, 0.1);
        border: 1px solid $background-color;
        border-radius: 10px;
        width: 100%;
        height: 32px;
        padding-left: 12px;
        font-size: 12px;
        line-height: 140%;
        font-family: 'Montserrat';
        color: $text-main-color;
        transition:
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:focus, &:hover {
                border-color: $hover-button-color;
            }

        @include mobile{
            height: 42px;

            &::placeholder {
                font-size: 12px;
                    line-height: 140%;
                    color: $text-main-color;
                    letter-spacing: 0.01em;

        @include desktop{
            font-size: 14px;
                line-height: 140%;
        }

        }
    }

}

.modal__feedback-fanchise {
    flex-direction: column;
        margin-bottom: 24px;
        display: flex;
        width: 100%;
        // height: 64px;

        @include desktop{
            // height: 84px;
            margin-bottom: 32px;
        }
}

.feedback-fanchise {
    display: block;
        width: 100%;
        height: 64px;
        padding-left: 12px;
        font-size: 12px;
        line-height: 140%;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid $background-color;
        border-radius: 10px;
        color: $text-main-color;
            transition:
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:focus {
                border-color: $hover-button-color;
            }
                @include mobile {
                    height: 64px;

                    &::placeholder {
                        font-size: 12px;
                        line-height: 140%;
                        color: $text-main-color;
                        letter-spacing: 0.01em;

                    }
                }
                        // @include desktop {
                        //     font-size: 14px;
                        //     line-height: 140%;
                        // }

                @include desktop{
                    min-width: 368px;
                        max-height: 84px;
                    
                        &::placeholder {
                            font-size: 14px;
                            line-height: 140%;
                            color: $text-main-color;
                            letter-spacing: 0.01em;
                
                }

    }
}


.submit__btn {
    font-weight: 600;
        font-size: 12px;
        line-height: calc(15/12);
        display: flex;
        align-items: center;
        text-align: center;
        color: $text-main-color;
        width: 114px;
        height: 42px;
        background: $link-button-color;
        border-radius: 10px;
        border: none;
        padding: 12px 34px;
        margin: 0 auto;
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $hover-button-color;
            }
        }