
.modal-buy {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 280px;
    padding: 28px;
    transform: translateX(-50%) scale(1);
    transition: transform 500ms linear, visibility 500ms linear;
    background-color: $background-modal-color;
    border-radius: 10px;
    border: 2px solid $link-button-color;

    @include tablet {
        width: 568px;
        padding: 32px 54px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-buy.is-hidden {
    transform: translateX(-50%) scale(0);
}

.modal-buy__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    scale: 1;
    transition: scale 250ms linear;
    &:hover,
    &:focus {
        scale: 1.2;
    }
}

.modal-buy__title {
    margin-bottom: 20px;
    font-family: 'Seymour One';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $text-main-color;

    @media screen and (min-width:768px) {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.4;
    }
}


.buy-checklist {
    padding-top: 65px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 31px;
    @media screen and (max-width:767px) {
        width: 132px;        
    }
    @media screen and (min-width:768px) {
        display: flex;
        margin-bottom: 40px;   
    }
}

.buy-checklist__item {
    width: 100%;
    @media screen and (min-width:768px) {
        width: calc((100% - 64px) / 3);
    }
}

.buy-checklist__item:not(:last-child) {
    margin-bottom: 82px;
    @media screen and (min-width:768px) {
        margin-bottom: 0;
        margin-right: 32px;
    }  
}

.buy-checklist__input:focus+.buy-checklist__label,
.buy-checklist__input:hover+.buy-checklist__label {
    box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1)), (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.buy-checklist__label {
    display: block;
    position: relative;
    height: 136px;
    padding-top: 95px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    border-radius: 15px;
    border: 2px solid #96AF8C;
    border-radius: 15px;
    background-color: $background-modal-color;
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.buy-checklist__label--yellow {
    border-color: $icecoffee-card-color;
}

.buy-checklist__label--brown {
    border-color: $milkshakes-card-color;
}


.buy-checklist__label::before {
    content: '';
    position: absolute;
    width: 132px;
    height: 139px;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.buy-checklist__label::before {
    background-image: url(../images/dobleice_modal.png), $modal-gradient;
    @include retina {
        background-image: url(../images/dobleice_modal@2x.png), $modal-gradient;
    }
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.buy-checklist__label--yellow::before {
    background-image: url(../images/milkshake_modal.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    @include retina {
        background-image: url(../images/milkshake_modal@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.buy-checklist__label--brown::before {
    background-image: url(../images/creambrule_modal.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    @include retina {
        background-image: url(../images/creambrule_modal@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.buy-checklist__input:checked + .buy-checklist__label {
    background-color: $icecream-card-color;
}
.buy-checklist__input--yellow:checked + .buy-checklist__label {
    background-color: $icecoffee-card-color;
}
.buy-checklist__input--brown:checked + .buy-checklist__label {
    background-color: $milkshakes-card-color;
}



.buy-form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-form__input, .buy-form__comment {
    width: 224px;
    padding: 8px 12px;

    background-color: $input-color;
    color: $text-main-color;
    border: 1px solid $background-color-secondary;
    border-radius: 10px;
    transition: border-color 250ms linear;
    &:hover, &:focus {
        outline-color: $link-button-color;
        border-color: $link-button-color;
    }

    @media screen and (min-width:768px) {
        width: 368px;
        padding: 11px 16px;
    }
}

.buy-form__input {
    height: 32px;
    margin-bottom: 12px;
    &:not(:focus):not(:placeholder-shown):required:invalid {
        background-color: $input-invalid-color;
        border-color: $error-color;
    }
    @media screen and (min-width:768px) {
        height: 42px;    
        margin-bottom: 16px;    
    }
}

.buy-form__comment { 
    height: 65px;
    resize: none;
    margin-bottom: 26px;

    @media screen and (min-width:768px) {
        margin-bottom: 32px;
        height: 84px;
    }
}

.buy-form__submit {
    width: 114px;
    height: 42px;

    background-color: $link-button-color;
    border-radius: 10px;
    border: 1px solid $link-button-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
    &:hover,
    &:focus {
        background-color: $hover-button-color;
        border-color: $hover-button-color;
    }
    &:focus {
        color: $text-title-color;
    }

    @media screen and (min-width:768px) {
        width: 121px;
        font-style: 14px;
    }
}










