
.backdrop {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms linear, visibility 500ms linear;
    background-color: $backdrop-bg;
}

.modal__buy {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 280px;
    padding: 28px 20px;
    transform: translateX(-50%) scale(1);
    transition: transform 500ms linear, visibility 500ms linear;
    background-color: $background-modal-color;
    border-radius: 10px;
    border: 2px solid $link-button-color;

    @include tablet {
        width: 568px;
        padding: 32px 40px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-buy.is-hidden {
    transform: translateX(-50%) scale(0);
}

.modal-buy__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    scale: 1;
    transition: scale 250ms linear;

    &:hover,
    &:focus {
        scale: 1.2;
    }
}
// --------------------------//------------------//
.buy__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-main-color;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;

    text-align: center;
}

.products__subtitle--mobile {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-main-color;
    margin-bottom: 0;
}

.products__list--mobile {
    width: auto;
    padding-top: 83px;
    padding-bottom: 40px;
}

.products__item--mobile {
    padding: 95px 13px 21px 13px;
    width: 136px;
    min-height: 136px;
    margin-right: auto;
    margin-left: auto;

    &:nth-child(1):before {
        box-shadow: 0px 7px 4px 0px $figure-color;
    }
    &:nth-child(2):before {
        box-shadow: 0px 7px 4px 0px $link-button-color;
    }
    &:nth-child(3):before {
        box-shadow: 0px 9px 1px -2px #D5753F;
    }
    &:nth-child(1) {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $icecream-card-color;
        filter: drop-shadow(0px 5.26027px 19.726px $box-shadow);
        border-radius: 15px;
    }
    &:nth-child(2) {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid
        $icecoffee-card-color;
        filter: drop-shadow(0px 5.26027px 19.726px $box-shadow);
        border-radius: 15px;
    }
    &:nth-child(3) {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid
        $milkshakes-card-color;
        filter: drop-shadow(0px 5.26027px 19.726px $box-shadow);
        border-radius: 15px;
    }
   
}


.products__item--mobile:before {
    content: "";
    
    width: 132px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
    
    
}

// -------------------------Modal from Franshize-------//
.modal__input--mobile {
    @include tablet {
        width: 368px;
    }
}
.modal__label--buy {
    @include tablet {
    align-items: center;
    margin-bottom: 16px;
    }
}



























