
.modal-read {
  position: absolute;
  width: 280px;
  height: 459px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $text-title-color;
  border: 2px solid $link-button-color;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  opacity: 1;

  @media screen and (min-width:$tablet) {
    width: 568px;
    height: 449px;

  }
}

.modal-read__close {
  display: flex;
  position: absolute;
  top: 11px;
  right: 11px;
  border-radius: none;
  cursor: url('/src/images/cursor.png'), pointer;

  background-color: transparent;
  border: none;
}

.modal-read__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: $text-main-color;
  margin-top: 28px;
}

.modal-read__block {
  width: 224px;
  margin-left: 28px;
  margin-right: 28px;


  @media screen and (min-width:$tablet) {
    width: 448px;
    margin-left: 60px;
    margin-right: 60px;

  }
}

.modal-read__video {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 199px;

  @media screen and (min-width:$tablet) {
    height: 199px;
    width: 448px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.modal-read__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: left;

  @media screen and (min-width:$tablet) {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    margin-top: -5px;
  }
}