.modal-location {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $text-title-color;
    border: 2px solid $link-button-color;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 30;

    @include mobile {
        width: 280px;
        height: 365px;
    }

    @include tablet {
        width: 568px;
        height: 458px;
    }
}

.modal-location__close {
    position: absolute;
    padding: 0;
    background-color: $text-title-color;
    right: 12px;
    top: 12px;
    border-style: none;
    border-radius: 50%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: $link-button-color;
    }

    @include mobile {
        width: 20px;
        height: 20px;
    }

    @include tablet {
        width: 24px;
        height: 24px;
    }
}

.modal-location__icon {
    @include mobile {
        width: 20px;
        height: 20px;
    }

    @include tablet {
        width: 24px;
        height: 24px;
    }
}

.location-form__title {
    font-family: 'Seymour One';
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    margin-bottom: 32px;

    @include mobile {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    @include tablet {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
    }
}

.modal-form__location-image {
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        width: 224px;
        height: 199px;
        margin-bottom: 20px;
    }

    @include tablet {
        width: 448px;
        height: 260px;
        margin-bottom: 32px;
    }
}

.location-form__btn {
    display: flex;
    justify-content: center;
}

.location-form__button {
    width: 145px;
    height: 42px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    color: $text-main-color;
    background-color: $link-button-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $hover-button-color;
        color: $text-main-color;
    }

    &:focus {
        background-color: $hover-button-color;
        color: $text-title-color;
    }

    @include mobile {
        width: 134px;
    }

    @include tablet {
        width: 145px;
    }
}

.backdrop.is-hidden .modal-location {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 20;
}

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }