.products {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    color: $text-main-color;
    text-align: center;
    letter-spacing: 0.04em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/Backgroud_mobile.jpg);

    @include retina {
        background-image: url(../images/Backgroud_mobile@2x.jpg);
    }
    @media screen and (min-width:768px) {
        background-image: url(../images/Background_tablet.jpg);
        // width: 768px;
        @include retina {
            background-image: url(../images/Background_tablet@2x.jpg);
        }    
    }
    @media screen and (min-width:1200px) {
        background-image: url(../images/Backgroud_desktop.jpg);
        // width: 1200px;
        @include retina {
            background-image: url(../images/Backgroud_desktop@2x.jpg);
        }    
    }  
}

.products__label {
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 22px;
    }
    @media screen and (min-width:1200px) {
        font-size: 30px;
    }
}

.products__title {
    margin-bottom: 40px;

    font-size: 30px;
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        margin-bottom: 80px;
        font-size: 34px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 120px;
        font-size: 36px;
    }
}

.products__list {
    padding-top: 108px;
    // width: 280px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:480px) {
        width: 250px;        
    }
    @media screen and (min-width:768px) {
        display: flex;
        padding-top: 120px;
        width: 704px; 
    }
    @media screen and (min-width:1200px) {
        padding-top: 183px;
        width: 1168px;
    }
}

.products__item {
    position: relative;
    min-height: 420px;
    width: 100%;
    padding: 123px 40px 16px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    transition: box-shadow 250ms linear;
    border-radius: 24px;
    &:hover, &:focus {
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25), 0px 8px 30px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width:480px) {
        min-height: 428px;
        padding-top: 126px;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
    @media screen and (min-width:768px) {
        padding: 108px 26px 12px;
        width: calc((100% - 32px) / 3);
    }
    @media screen and (min-width:1200px) {
        padding: 165px 64px 60px;
        min-height: 536px;
        width: calc((100% - 58px) / 3);
    }
}

.products__item:not(:last-child) {
    margin-bottom: 168px;

    @media screen and (min-width:768px) {
        margin-right: 16px;
        margin-bottom: 0;
    }
    @media screen and (min-width:1200px) {
        margin-right: 29px;
    }  
}

.products__item::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -105px;
    width: 200px;
    height: 211px;
    display: block;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

    @media screen and (min-width:768px) {
        top: -120px;
    }
    @media screen and (min-width:1200px) {
        top: -180px;
        width: 302px;
        height: 318px;  
    }
}

.products__item:nth-child(1) {
    background-color: $icecream-card-color;
}

.products__item:nth-child(2) {
    background-color: $icecoffee-card-color;
}

.products__item:nth-child(3) {
    background-color: $milkshakes-card-color;
}

.products__item:nth-child(1)::before {
    background-image: url(../images/dobleice.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    @include retina {
        background-image: url(../images/dobleice@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    }
    @media screen and (min-width:1200px) {
        background-image: url(../images/dobleice_desktop.png),linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
        @include retina {
            background-image: url(../images/dobleice_desktop@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
        }    
    }  
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.products__item:nth-child(2)::before {
    background-image: url(../images/milkshake.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    @include retina {
        background-image: url(../images/milkshake@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    }
    @media screen and (min-width:1200px) {
        background-image: url(../images/milkshake_desktop.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
        @include retina {
            background-image: url(../images/milkshake_desktop@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
        }    
    }  
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
}

.products__item:nth-child(3)::before {
    background-image: url(../images/creambrule.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    @include retina {
        background-image: url(../images/creambrule@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    }
    @media screen and (min-width:1200px) {
        background-image: url(../images/creambrule_desktop.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
        @include retina {
            background-image: url(../images/creambrule_desktop@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
        }    
    }
    background-color: #D9D9D9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.products__subtitle {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.23;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 22px ;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 66px;
        font-size: 30px;
    }
}

.products__text {
    font-size: 14px;
    line-height: 1.76;

    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}

.products__btn {
    margin-bottom: 0;
    margin-top: auto;
    border: none;
    background-color: transparent;
    text-align: center;
    color: $text-main-color;
    &:active {
        color:#907E82;
    }
    &:hover .products__icon, &:focus .products__icon {
        scale: 1.5;    
    }
}

.products__icon {
    scale: 1;
    transition: scale 250ms linear;
}

